<%- include('../partials/header') %>

<form id="add-ticket-form" action="/flights/<%= flightId %>/tickets" method="POST">
    <label>Seat:</label>
    <input name="seat" required pattern="[A-F][1-9]\d?">
    <label>Price:</label>
    <input name="price" type="number">
    <input type="submit" value="Add Ticket">
</form>
<%- include('../partials/footer') %>
