<%- include('../partials/header') %>

<h2>Enter a New Flight</h2>
<form action="/flights" method="POST" id="add-flight">
    <label>Airline: 
        <select name="airline">
          <option value="American">American</option>
          <option value="Southwest">Southwest</option>
          <option value="United">United</option>
        </select>
      </label><br>
      <label>Airport: 
        <select name="airport">
          <option value="LAS">LAS</option>
          <option value="BUR">BUR</option>
          <option value="LAX">LAX</option>
          <option value="SAN">SAN</option>
        </select>
      </label><br>

  <label>Flight Number:
    <input type="number" name="flightNo">
  </label><br>
  <label>
    Date:
    <input name="departs" type="datetime-local" value="">
  </label><br>

  <button type="submit">Add Flight</button>
</form>

<%- include('../partials/footer') %>